- var menu = { 'postage.html': 'Стоимость доставки', 'delivery_terms.html': 'Сроки доставки', 'nearest.html': 'Ближайшее отделение', 'schedule.html': 'График работы отделений' };

.nav--logo
  i.fa.fa-cube.fa-5x(aria-hidden='true')
  p Garant Post Service
.nav.small-2.columns(class=bg_color)
  ul.nav--menu(class=txt_color)
    each val, key in menu
      if selected === key
        li
          a.nav--item.selected(href=key, title=val)= val
      else
        li
          a.nav--item(href=key, title=val)= val
  .nav--adress(class=txt_color)
    p Республика Казахстан 
    p 050016, г.Алматы,
    p пр. Суюнбая 37, этаж 2,
    p e-mail: office@gpserv.kz
  .nav--phone(class=txt_color)
    p + 7 (777) 871 71 71
    p + 7 (777) 871 71 71
  .nav--button.small-12.columns.txt-white
    a.nav--button--link(href='request_call.html') Заказать звонок
